<h1>Works#show</h1>
<p>Find me in app/views/works/show.html.erb</p>




<h2><%=@work.title%></h2>
<p>Created by: <%=@work.creator%></p>
<p>Published: <%=@work.publication_year%></p>

<p><%=@work.description%></p>



<p>Votes will go here!</p>